<div class="parent-wrapper">
  <div class="defer">
    <h2> <code>"&#64;"defer</code> block - example </h2>
    <hr>
  
    @defer {
      <app-child></app-child>
    } @placeholder(minimum 1000ms) {
      <p>Child component not yet loaded</p>
    } @loading ( minimum 1000ms) {
      <p>Loading...</p>
    } @error {
      <p>Failed to load the calendar</p>
    }
  </div>

  <hr>
  
  <div class="defer-with-trigger">
    <h2> <code>"&#64;"defer</code> block with Triggers </h2>
    <hr>
    <!-- Triggers List :  -->
    <!-- 1.  on idle: 
        idle will trigger the deferred loading once the browser has reached an idle state (detected using the requestIdleCallback API under the hood). This is the default behavior with a defer block. -->

    <!-- 2.  on viewport:
        viewport would trigger the deferred block when the specified content enters the viewport. -->
        <!-- ToDo: example :  
          @defer (on viewport) {
            <calendar-cmp />
          } @placeholder {
            <div>Calendar placeholder</div>
          }
        -->

    <!-- 3.  on interaction:
        interaction will trigger the deferred block when the user interacts with the specified element through click or keydown events. -->

        <!-- ToDo: example : 
          @defer (on interaction) {
          <calendar-cmp />
        } @placeholder {
          <div>Calendar placeholder</div>
        } -->

        <!-- ToDo: example : (with template ref) 
          <button type="button" #greeting>Hello!</button>
          @defer (on interaction(greeting)) {
            <calendar-cmp />
          } @placeholder {
            <div>Calendar placeholder</div>
          } -->


    <!-- 4.  on hover:
        hover triggers deferred loading when the mouse has hovered over the trigger area. Events used for this are mouseenter and focusin. -->

        <!-- todo: example:
        @defer (on hover) {
          <calendar-cmp />
        } @placeholder {
          <div>Calendar placeholder</div>
        } -->
      
    <!-- 5.  on immediate :
        immediate triggers the deferred load immediately, meaning once the client has finished rendering, the defer chunk would then start fetching right away. -->

    
    <!-- 6.  on timer:
        timer(x) would trigger after a specified duration. The duration is required and can be specified in ms or s. -->
        
        <!-- todo: example :  
          @defer (on timer(500ms)) {
          <calendar-cmp />
        } -->





    @defer (on timer(1000ms)) {
      <app-child></app-child>
    } @placeholder(minimum 1000ms) {
      <p>Child component not yet loaded</p>
    } @loading ( minimum 1000ms) {
      <p>Loading...</p>
    } @error {
      <p>Failed to load the calendar</p>
    }

    
  </div>
</div>