<div class="card">
  <div class="card-header">Child Component</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Maxime numquam odio dolores, consectetur et tenetur, 
    porro at ab quas repellendus accusamus iure cumque aspernatur nihil ducimus illum voluptatibus. 
    Totam atque aspernatur minima consequatur odio iusto, 
    voluptate saepe, facilis dicta, temporibus delectus natus accusamus quaerat laboriosam? Nam numquam dolorem aliquid quasi!
  </div>
</div>