<div class="user-wrapper">
  <h2> <code>Stand Alone</code> Component </h2>
  <hr>
  
  <div class="card">
    <div class="card-header">
      User Information
    </div>
    <div class="card-body">
      <div> <strong>Name</strong> : Akshay Lankeshwar</div>
      <div> <strong>Address</strong> : Pune, Maharashtra</div>
      <div> <strong>About : </strong>
        Frontend Developer,
        <em>Love to design code from the Scratch.</em>
      </div>
      <div> <strong>Portfolio : </strong><a href="https://aks3112.github.io/portfolio" target="_blank"> https://aks3112.github.io/portfolio</a></div>
      <div> <strong>LinkedIn : </strong><a href="https://www.linkedin.com/in/akshay-lankeshwar-aks3112/" target="_blank" > https://www.linkedin.com/in/akshay-lankeshwar-aks3112/</a></div>
    </div>
  </div>
</div>

